<!DOCTYPE html>
<html>
  <head>
    <title>AssistiveDeviceRental</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper-wide">
      <!-- Header -->
      <%= render :partial => "layouts/header" %>
      <!-- Header End -->
      <div id="container">
        <div class="container">
          <div class="row">
            <!--LEFT Part Start -->
            <%= render :partial => "layouts/sidebar" %>
            <!--LEFT Part End -->
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
              <p style="color:green"><%= flash[:notice]%></p>
              <p style="color:red"><%= flash[:alert]%></p>
              <!-- Breadcrumb Start-->
              <%= render :partial => "layouts/breadcrumb" %>
              <!-- Breadcrumb End-->
              <!-- Content -->
              <%= yield %>
              <!-- Content End-->
            </div>
            <!--Middle Part End -->
          </div>
        </div>
      </div>
      <!--Footer Start-->
      <%= render :partial => "layouts/footer" %>
      <!--Footer End-->
    </div>
  </body>
</html>
